<%- include ('./partials/header') %>
<br>
<div class='form-group'>
    <label for='message'>Content</label> </br>
    <textarea id='message' class='form-control' type='text' name='message'></textarea>
  </div>
<br>
<br>
<div class='form-group'>
    <label for='message'>Image URL</label> </br>
    <textarea id='message' class='form-control' type='text' name='message'></textarea>
  </div>
<br>
<form id='sign-in' method='POST' action=''>
    <input id='sign-out' type='submit' value='Cluck'>

<%- include ('./partials/footer') %>